---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Gina & Utkarsh | About Us">
  <main class="text-wedding-purple mx-auto max-w-[1000px] text-center mb-8">
    <div class="w-full flex justify-center mb-10 mt-8">
        <Navbar location="About Us" />
    </div>
    <h1 class="text-6xl mt-10 font-fancy">About Us</h1>

    <div class="text-left text-lg md:text-xl flex flex-col gap-8 mt-4 px-4 font-normal">
        <p>
            The story of Gina and Utkarsh began in 2015 during their senior year of high school in Eagan, Minnesota.
            Though they knew each other prior to then, it wasn't until their final year of high school that they became
            good friends. As they both prepared to start their college journeys in separate states, their relationship
            continued to grow. Ironically, their relationship only progressed past friendship after they had been separated.
            Despite attending different universities—Gina at University of Wisconsin and Utkarsh at the University of
            Minnesota—they found ways to stay connected, whether it was through texting cute notes, talking every night,
            watching Netflix together while apart, or exploiting the Megabus pricing system to be able to see each other
            frequently. Even after college, though Gina came back to Minnesota to work, Utkarsh had taken a job in
            Houston, TX, and they continued to be long distance. After 6 long years, COVID allowed Gina to become fully
            remote and they were FINALLY able to live together.
        </p>

        <p>
            During the early stages of their relationship, Gina was drawn to Utkarsh's intellect, hopelessly optimistic
            demeanor, sense of humor (though most people would call it being annoying), and inability to be alone
            (again, most people find this annoying). Utkarsh admired Gina's ambition, caring nature, stubbornness, and
            also her inability to be alone (you see why they work so well together?). 
        </p>

        <p>
            Their engagement came during a family trip to India, and amidst a bout of severe food poisoning
            (now this was an unforgettable engagement story), Utkarsh decided to not reschedule his plan and took the
            opportunity to propose at the Taj Mahal. Gina obviously accepted enthusiastically and they were ready to
            begin the next stage of their life together.
        </p>

        <p>
            If you take a step back and look at their timeline of events, you'd think that someone messed up the dates.
            Their first date (and the first time they saw each other after starting to date) wasn't until 2 months after
            they started dating, they bought a house together before they were engaged (also before they had actually
            lived with each other), and, even today, Utkarsh is planning on having his “Bachelor Party” after they get
            married.
        </p>

        <p>
            Today, they are surrounded by family, friends, and their adorable fur baby, Juneau, who has become a
            centerpoint of their lives. Their story is a testament to patience, commitment, and the power to love
            unconditionally as they get ready to together embark on the journey of the rest of their lives.
        </p>
    </div>

  </main>
</Layout>
