---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gina & Utkarsh">
  <main class="p-4 w-[800px] h-[100vh] mx-auto">
    <div class="flex justify-center items-center w-full h-full">
      <h1 class="text-6xl font-bold text-gradient">Gallery</h1>
    </div>
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
