---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import DaysRemaining from "../components/DaysRemaining.astro";
import Navbar from "../components/Navbar.astro";
import landingPageImage from "../images/landing-page.jpg";
---

<Layout title="Gina & Utkarsh">
  <main class="text-wedding-purple mx-auto max-w-[800px] text-center">
    <h1 class="text-6xl mt-24 font-fancy">Gina & Utkarsh</h1>
    <div class="font-plain text-lg flex justify-around mt-2">
      <div>
        <div><b>July 12-14, 2024</b> &bullet; Jabalpur,&nbsp;India</div>
        <DaysRemaining date="2024-07-12" />
      </div>
      <div>
        <div><b>August 31, 2024</b> &bullet; Houston,&nbsp;Texas</div>
        <DaysRemaining date="2024-08-31" />
      </div>
    </div>
    <div class="w-full flex justify-center mb-10 mt-8">
      <Navbar location="Home" />
    </div>
    <Image
      src={landingPageImage}
      class="rounded px-4 md:px-0"
      alt="Gina and Utkarsh walking in a grass field"
    />
  </main>
</Layout>
