---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gina & Utkarsh">
  <main class="p-4 w-[800px] h-[100vh] mx-auto">
    <div class="">
      <h1 class="text-6xl font-bold text-gradient">RSVP</h1>
    </div>
    <p>Instructions</p>
    <form>
      <label>First Name:</label>
      <input class="border" placeholder="First Name" />
      <br />

      <label>Last Name:</label>
      <input class="border" placeholder="Last Name" />
      <br />

      <label>Email:</label>
      <input class="border" placeholder="Email" />
      <br />

      <label>Phone Number:</label>
      <input class="border" placeholder="Phone Number" />
      <br />

      <label>Address:</label>
      <input class="border" placeholder="Address" />
      <br />

      <label>Number of Attendees:</label>
      <input class="border" placeholder="Number" />
      <br />

      <label>Meal Options</label>
      <input class="border" placeholder="Number" />
      <br />

      <button class="bg-purple-200 p-2 rounded-md">Submit</button>
    </form>
  </main>

  <style>
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
  </style>
</Layout>
