---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import saveTheDateImage from "../images/save-the-date.jpg";
---

<Layout title="Gina & Utkarsh">
  <div class="h-[450px] w-full bg-wedding-purple relative">
    <div class="h-24"></div>

    <div
      class="absolute left-[calc(50%-11.6rem)] top-[3.3rem] font-plain font-bold text-wedding-cream text-sm w-[175px] h-[150px] overflow-hidden"
    >
      <div id="circle-container">
        <h2 id="cirle-text">
          ting &nbsp;&bullet; The joyous marriage of &bullet; Join us in celebra
        </h2>
      </div>
    </div>

    <Image
      src={saveTheDateImage}
      class="w-72 rounded-tl-full rounded-tr-full mx-auto"
      alt=""
    />

    <h1
      class="absolute bottom-[-12px] left-[calc(50%-11rem)] font-fancy text-6xl text-wedding-cream font-bold text-gradient"
    >
      Gina <br />&nbsp;&nbsp;&nbsp;&Utkarsh
    </h1>
  </div>
  <div
    class="mt-24 font-plain font-bold text-4xl text-center text-wedding-purple"
  >
    <p>Save the Dates</p>
  </div>
  <div class="w-full mt-2">
    <div
      class="mx-auto px-4 max-w-[500px] flex font-plain text-wedding-purple items-center font-bold text-lf justify-around"
    >
      <div>
        Jabalpur, India <br />
        July 12-14 <br />
        2024
      </div>
      <div class="font-fancy text-4xl md:text-6xl text-center">&</div>
      <div class="text-right">
        Houston, Texas <br />
        September 1 <br />
        2024
      </div>
    </div>
  </div>
</Layout>

<style is:global>
  #circle-container {
    width: 200px;
    transform: translateX(100px);
  }

  #cirle-text span {
    height: 75px;
    position: absolute;
    width: 10px;
    left: 0;
    top: 0;
    transform-origin: bottom center;
    transform: rotate(7.08deg);
    text-align: center;
  }
</style>

<script>
  var lettering = function (node: HTMLElement) {
    var str = node.textContent ?? "";
    if (!str) {
      return;
    }
    node.innerHTML = "";
    var openTag = "<span>";
    var closeTag = "</span>";
    var newHTML = openTag;
    var closeTags = closeTag;
    for (var i = 0, iCount = str.length; i < iCount; i++) {
      newHTML += str[i] + openTag;
      closeTags += closeTag;
    }
    node.innerHTML = newHTML + closeTags;
  };
  lettering(document.getElementById("cirle-text")!);
</script>
