---
const links = [
  { name: "Home", href: "/", hidden: false },
  { name: "Schedule", href: "/schedule/india", hidden: false },
  { name: "Gallery", href: "/gallery/1", hidden: false },
  { name: "Save the Dates", href: "/save-the-date", hidden: false },
  { name: "Our Story", href: "/story", hidden: true },
  { name: "Travel", href: "/travel", hidden: true },
  { name: "RSVP", href: "/rsvp", hidden: false },
] as const;

type LinkElements = (typeof links)[number];
type LinkName = Extract<LinkElements, { name: string }>["name"];

interface Props {
  location: LinkName;
}

const { location } = Astro.props;
---

<div class="flex items-center justify-center flex-wrap gap-4 text-wedding-purple font-plain">
  {
    links.filter((link) => (!link.hidden)).map((link) => (
      <a
        href={link.href}
        class=`${location == link.name ? "underline" : "hover:underline"}`
      >
        {link.name}
      </a>
    ))
  }
</div>
