---
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";

---

<Layout title="Gina & Utkarsh">
  <main class="text-wedding-purple mx-auto max-w-[1000px] text-center mb-8">
    <div class="w-full flex justify-center mb-10 mt-8">
        <Navbar location="RSVP"/>
      </div>

      <div class="font-normal text-xl">
        Thank you! You're RSVP has been saved!
      </div>
</Layout>