---
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";

---

<Layout title="Gina & Utkarsh">
    <main class="p-4 max-w-[800px] h-[100vh] mx-auto text-center">
      <div class="w-full flex justify-center mb-10 mt-8">
        <Navbar location="RSVP" />
      </div>
</Layout>